n8n/init/workflow/_2__Solution__SQL_Logistic_Agent.json
{
  "name": "[2][Solution] SQL Logistic Agent",
  "nodes": [
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {}
      },
      "id": "d45b0148-307a-466c-92cf-687084418190",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        900,
        780
      ],
      "credentials": {
        "openAiApi": {
          "id": "FAM16ecPTkuh1pQV",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "75c8f693-0cae-4657-ae17-7c136d6cc0dc",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        440,
        760
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "1f061d0a-9494-4367-8e9a-7786d1960a32",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        580,
        520
      ],
      "webhookId": "9e5563a0-9d8e-4948-b072-f5942c1268f3",
      "disabled": true
    },
    {
      "parameters": {},
      "id": "cadde44b-d66c-424b-a265-427e358c9cdb",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        80,
        500
      ]
    },
    {
      "parameters": {
        "agent": "sqlAgent",
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "includedTables": "orders",
          "prefixPrompt": "You are an agent designed to interact with an SQL database.\nGiven an input question, create a syntactically correct {dialect} query to run, then look at the results of the query and return the answer.\nUnless the user specifies a specific number of examples they wish to obtain, always limit your query to at most {top_k} results using the LIMIT clause.\nYou can order the results by a relevant column to return the most interesting examples in the database.\nNever query for all the columns from a specific table, only ask for a the few relevant columns given the question.\nYou have access to tools for interacting with the database.\nOnly use the below tools. Only use the information returned by the below tools to construct your final answer.\nYou MUST double check your query before executing it. If you get an error while executing a query, rewrite the query and try again.\n\nDO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the database.\n\nIf the question does not seem related to the database, just return \"I don't know\" as the answer.\n\nIf you can't find the OrderID please don't share info about others Orders it is sensitive data."
        }
      },
      "id": "160f4c6c-8dad-4575-83f9-2511dd3f59ed",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        900,
        560
      ],
      "credentials": {
        "postgres": {
          "id": "hHafngz9pnwrZuwo",
          "name": "ai_katas_pg_user"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "51317ac7-cac5-4399-b9b6-84065ad1d6c3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3794c66ff650fb7ddc0b766ce1fcc1c2e8b38b2b748cd2d353664e9d9f2054a7"
  },
  "id": "CA5K2FcUPmWslbgY",
  "tags": [
    {
      "createdAt": "2024-11-14T14:59:17.372Z",
      "updatedAt": "2024-11-14T14:59:17.372Z",
      "id": "BCVWTDHbyeNngImV",
      "name": "prod"
    }
  ]
}